.MainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f0f0;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 1%;
  color: rgb(97, 97, 97);
  padding: 1%;
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  gap: 2px;
  align-items: center;
  color: #FFC629;
}

.matches-count,
.messages-count {
  background-color: #ffc629;
  color: #FFF;
  font-size: 13px;
  border-radius: 100%;
  padding: 3px 6px;
}

.matches-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 3%;
  gap: 10px;
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-image {
  width: 66px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  filter: blur(2px);
}

.like-item {
  position: relative;
  width: 66px;
}

.heart-icon {
  position: absolute;
  top: -6px;
  right: -6px;
  color: red;
  font-size: 25px;
  z-index: 6;
}

.like-text,
.match-name,
.messages-head {
  font-size: 1em;
  font-weight: bold;
  color: #ffc629;
}

.match-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-avatar{
  overflow: hidden;
  object-fit: fill;
  position: relative;


}

.match-avatar img {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  overflow: hidden;
border: 2px solid #979797;
  position: relative;
}

.matches-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.online-indicator {
  position: absolute;
  top: 1px;
  right: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFF;
  background-color: rgb(8, 175, 8);
  border-radius: 50%;
}

.chat-section {
  margin: 0 1% 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  height: 100%;
  border-radius: 33px 33px 0 0;
}

.message-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.chat-image-container
{
  position: relative;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.contact-image{
  width: 66px;
  height: 66px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #979797;
  position: relative;
  object-fit: cover;

}

.left-message
{
  display: flex;
  gap: 9px;
  padding: 15px 0 0 2%;
}

.name-message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;

  .contact-name {
    font-size: 1em;
    font-weight: bold;
    color: #ffc629;
    text-transform: uppercase;
  }

  .message-text {
    font-size: 0.8em;
    color: #727272;
    line-height: 1.2;
  }
  .message-arrow{
    font-size: 0.7em;
    font-weight: bold;
    color: #858585d8;
    line-height: 1.2;
  }
}

.message-right{
  padding: 2%;
}
.message-time{
  font-size: 0.7em;
  color: #858585d8;
  line-height: 1.2;
}

.message-preview{
  display: flex ;
  align-items: center;
  gap: 2px;
}


ion-footer {
  --background: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon-container {
      position: relative;
      padding: 10px;
      ion-icon {
        font-size: 1.5em;
        color: grey;
      }
      .icon-label {
        font-size: 0.8em;
        color: grey;
        display: block;
      }
    }

    &.active {
      .icon-container {
        ion-icon {
          color: #FFC629;
        }
        .icon-label {
          color: #FFC629;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 5px;
          border-radius: 2.5px;
          background-color: #FFC629;
        }
      }
    }
  }
}
