<!DOCTYPE html>
<ion-content>
  <div class="MainBody">
    <div class="navbar">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1 class="header-text">
        Matches<span class="matches-count">{{ matchesCount }}</span>
      </h1>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="matches-list">
      <!-- Likes Container -->
      <div class="likes-container">
        <div class="like-item">
          <ion-icon name="heart" class="heart-icon"></ion-icon>
          <img src="assets/like1.jpg" class="like-image" />
        </div>
        <h2 class="like-text">Likes</h2>
      </div>

      <!-- Display rounds even if no matches -->
      <div *ngIf="matches.length === 0" class="match-item">
        <div class="match-avatar"></div>
        <h2 class="match-name"></h2>
        <div class="online-indicator"></div>
      </div>

      <div *ngFor="let match of matches" class="match-item">
        <div class="match-avatar">
          <img
            [src]="match.profilePicture || 'assets/placeholder.jpg'"
            (error)="onImageError($event)"
            class="match-image"
          />

          <div class="online-indicator" *ngIf="match.isOnline"></div>
        </div>
        <h2 class="match-name">{{ match.name || '&nbsp;' }}</h2>
      </div>
    </div>

    <div class="chat-section">
      <div>
        <h1 class="messages-head">
          Messages
          <span class="messages-count">{{ incomingMessagesCount }}</span>
        </h1>
      </div>
      <div *ngFor="let message of messages" class="message-item">
        <div class="left-message">
          <div class="chat-image-container">
            <img
              [src]="message.iconImage"
              class="contact-image"
              (error)="onImageError($event)"
            />
            <div class="online-indicator" *ngIf="message.isOnline"></div>
          </div>
          <div class="name-message">
            <span class="contact-name">{{ message.contactName }}</span>
            <div class="message-preview">
              <span *ngIf="!message.isIncoming" class="message-arrow">
                <ion-icon name="arrow-undo-sharp"></ion-icon>
              </span>
              <span class="message-text">{{ message.text }}</span>
            </div>
          </div>
        </div>
        <div class="message-right">
          <span class="message-time"
            >{{ message.time | date:'shortTime' }}</span
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col
          size="4"
          class="footer-col"
          (click)="setActiveTab('settings')"
          [class.active]="activeTab === 'settings'"
        >
          <div class="icon-container">
            <ion-icon name="settings-outline" class="footer-icon"></ion-icon>
            <span class="icon-label">Settings</span>
          </div>
        </ion-col>
        <ion-col
          size="4"
          class="footer-col"
          (click)="setActiveTab('explore')"
          [class.active]="activeTab === 'explore'"
        >
          <div class="icon-container">
            <ion-icon name="copy-outline" class="footer-icon"></ion-icon>
            <span class="icon-label">Explore</span>
          </div>
        </ion-col>
        <ion-col
          size="4"
          class="footer-col"
          (click)="setActiveTab('chats')"
          [class.active]="activeTab === 'chats'"
        >
          <div class="icon-container">
            <ion-icon
              name="chatbox-ellipses-outline"
              class="footer-icon"
            ></ion-icon>
            <span class="icon-label">Chats</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
