.MainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #f1f0f0;
  height: 100svh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 1%;
  color: rgb(97, 97, 97);
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  gap: 2px;
  align-items: center;
  color: #07aa0d;
}

.matches-count,
.messages-count {
  background-color: #07aa0d;
  color: #FFF;
  font-size: 13px;
  border-radius: 100%;
  padding: 3px 6px;
}

.matches-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 10px;
  padding: 3% 3%;
}

@media (max-width: 600px) {
  .matches-list {
    padding:4% 3%;
  }
}


.matches-list::-webkit-scrollbar {
  display: none;
}

.match-body{
  display: flex;
  align-items: center;
flex-direction: row;
justify-content: center;
gap: 10px;
}
.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-image {
  width: 66px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  filter: blur(2px);
}

.like-item {
  position: relative;
  width: 66px;
}

.heart-icon {
  position: absolute;
  top: -6px;
  right: -6px;
  color: red;
  font-size: 25px;
  z-index: 6;
}

.like-text,
.match-name,
.messages-head {
  font-size: 1em;
  font-weight: bold;
  color: #07aa0d;
}

.match-item {
  min-width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.match-avatar{
  overflow: hidden;
  object-fit: fill;
  position: relative;


}

.match-avatar img {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  overflow: hidden;
border: 2px solid #979797;
  position: relative;
}

.matches-container {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.online-indicator {
  position: absolute;
  top: 1px;
  right: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFF;
  background-color: rgb(8, 175, 8);
  border-radius: 50%;
}

.chat-section {
  margin: 0 1% 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  border-radius: 33px 33px 0 0;
}

.message-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.chat-body{
  margin: 0 1% 0 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40.4vh);
  border-radius: 33px 33px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0;
}

.chat-body::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f0f0;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: #07aa0d;
  border-radius: 10px;
  border: 2px solid #f1f0f0;
}

.chat-body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.chat-image-container
{
  position: relative;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.contact-image{
  width: 66px;
  height: 66px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #979797;
  position: relative;
  object-fit: cover;

}

.left-message
{
  display: flex;
  gap: 9px;
  padding: 15px 0 0 2%;
}

.name-message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;

  .contact-name {
    font-size: 1em;
    font-weight: bold;
    color: #07aa0d;
    text-transform: uppercase;
  }

  .message-text {
    font-size: 0.8em;
    color: #727272;
    line-height: 1.2;
  }
  .message-arrow{
    font-size: 0.7em;
    font-weight: bold;
    color: #858585d8;
    line-height: 1.2;
  }
}

.message-right{
  padding: 2%;
}
.message-time{
  font-size: 0.7em;
  color: #858585d8;
  line-height: 1.2;
}

.message-preview{
  display: flex ;
  align-items: center;
  gap: 2px;
}


.main-footer{
  background-color: #FFF;
  margin: 0 1%;

}

.footer{
display: flex;
align-items: center;
width: 98%;
height: 10svh;
align-self: center;
justify-content: space-around;
bottom: 0;
border-radius: 25px;
border-top: 1px solid #07aa0d;


    .icon-container {
      position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

      ion-icon {
        font-size: 2rem;
        color: #07aa0c7c;
      }

      .icon-label {
        font-size: 1rem;
        color: #07aa0c7c;
        display: block;
      }
    }
.active .icon-label{
  color: #07aa0d;
  font-weight: bold;
}


.active ion-icon {
  color: #07aa0d;
}
}
